<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/static/bootstrap-theme.min.css}" />
    <link rel="stylesheet" th:href="@{/static/pivotal.css}"/>
    <title>spring-microservices: Home</title>
</head>
<body>
<div class="container">
    <div class="row">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a title="Spring IO" th:href="@{http://www.spring.io}">
                        <img th:src="@{/static/spring-trans-dark.png}" height="50"/>
                    </a>
                </div>
                <div>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="http://www.pivotal.io">
                                <img alt="Pivotal" title="Pivotal" height="20" th:src="@{/static/pivotal-logo-600.png}" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div style="text-align: right">[ <a th:href="@{/}">Home</a>
            | <a th:href="@{productList}">Products</a> ]</div>
    </div>

    <div class="row">

        <h1>Product Details</h1>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    Code :
                </div>
                <div class="col-sm-9" th:text="${product.code}" />
            </div>
            <div class="row">
                <div class="col-sm-3">
                    Name:
                </div>
                <div class="col-sm-9" th:text="${product.name}"/>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    Remarks :
                </div>
                <div class="col-sm-9" th:text="${product.remarks}"/>
            </div>
        </div>

    </div>

</div>
</body>
</html>